.banner{
   background: url("https://learnenglish.britishcouncil.org/sites/podcasts/files/styles/1280x500/public/2021-10/EST-LE-hero-backtowork-1280x500-sept21.png?itok=VkcRRdPC") 
   no-repeat center center; 
   background-size: cover;
   padding-top: 20%;
   padding-bottom: 20%;
   color: black;
}

.lingkaran {
    display: inline-block;
    border-radius: 50%;
    width: 150px;
    margin: auto;
    height: 150px;
    color: white;
    background-color: #dc3545;
}

.crop-img {
   object-fit: cover;
}